In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.16.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.1.0)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.23.2-py3-none-any.whl.metadata (4.9 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from selenium) (2023.11.17)
Collecting attrs>=20.1.0 (from trio~=0.17->selenium)
  Downloading attrs-23.1.0-py3-none-any.whl (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     --------------------------------- ------ 51.2/61.2 kB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 61.2/61.2 kB 1.6 MB/s eta 0:00:00
Collecting sortedcontainers (from trio~=0.17->selenium)
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: idna in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from trio~=0.17->selenium) (3.6)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Collecting cffi>=1.14 (from trio~=0.17->selenium)
  Downloading cffi-1.16.0-cp311-cp311-win_amd64.whl.metadata (1.5 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3,>=1.26->selenium)
  Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Collecting pycparser (from cffi>=1.14->trio~=0.17->selenium)
  Downloading pycparser-2.21-py2.py3-none-any.whl (118 kB)
     ---------------------------------------- 0.0/118.7 kB ? eta -:--:--
     -------------------------------------- 118.7/118.7 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Downloading selenium-4.16.0-py3-none-any.whl (10.0 MB)
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
    --------------------------------------- 0.2/10.0 MB 5.8 MB/s eta 0:00:02
   - -------------------------------------- 0.5/10.0 MB 5.6 MB/s eta 0:00:02
   --- ------------------------------------ 0.8/10.0 MB 6.1 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/10.0 MB 5.7 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/10.0 MB 5.9 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/10.0 MB 5.9 MB/s eta 0:00:02
   ----- ---------------------------------- 1.3/10.0 MB 4.2 MB/s eta 0:00:03
   ----- ---------------------------------- 1.4/10.0 MB 3.9 MB/s eta 0:00:03
   ------ --------------------------------- 1.7/10.0 MB 4.1 MB/s eta 0:00:03
   ------- -------------------------------- 1.9/10.0 MB 4.3 MB/s eta 0:00:02
   -------- ------------------------------- 2.1/10.0 MB 4.4 MB/s eta 0:00:02
   -------- ------------------------------- 2.1/10.0 MB 4.4 MB/s eta 0:00:02
   -------- ------------------------------- 2.1/10.0 MB 4.4 MB/s eta 0:00:02
   -------- ------------------------------- 2.1/10.0 MB 4.4 MB/s eta 0:00:02
   -------- ------------------------------- 2.1/10.0 MB 4.4 MB/s eta 0:00:02
   -------- ------------------------------- 2.1/10.0 MB 4.4 MB/s eta 0:00:02
   --------- ------------------------------ 2.3/10.0 MB 2.9 MB/s eta 0:00:03
   ---------- ----------------------------- 2.7/10.0 MB 3.3 MB/s eta 0:00:03
   ------------ --------------------------- 3.2/10.0 MB 3.7 MB/s eta 0:00:02
   -------------- ------------------------- 3.7/10.0 MB 4.0 MB/s eta 0:00:02
   ---------------- ----------------------- 4.1/10.0 MB 4.2 MB/s eta 0:00:02
   ----------------- ---------------------- 4.4/10.0 MB 4.3 MB/s eta 0:00:02
   ------------------ --------------------- 4.6/10.0 MB 4.3 MB/s eta 0:00:02
   ------------------- -------------------- 4.8/10.0 MB 4.4 MB/s eta 0:00:02
   -------------------- ------------------- 5.1/10.0 MB 4.4 MB/s eta 0:00:02
   --------------------- ------------------ 5.4/10.0 MB 4.5 MB/s eta 0:00:02
   ---------------------- ----------------- 5.6/10.0 MB 4.5 MB/s eta 0:00:01
   ----------------------- ---------------- 5.8/10.0 MB 4.5 MB/s eta 0:00:01
   ------------------------ --------------- 6.1/10.0 MB 4.5 MB/s eta 0:00:01
   ------------------------- -------------- 6.3/10.0 MB 4.5 MB/s eta 0:00:01
   ------------------------- -------------- 6.4/10.0 MB 4.5 MB/s eta 0:00:01
   -------------------------- ------------- 6.5/10.0 MB 4.4 MB/s eta 0:00:01
   -------------------------- ------------- 6.6/10.0 MB 4.4 MB/s eta 0:00:01
   -------------------------- ------------- 6.6/10.0 MB 4.4 MB/s eta 0:00:01
   --------------------------- ------------ 6.8/10.0 MB 4.2 MB/s eta 0:00:01
   --------------------------- ------------ 7.0/10.0 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 7.4/10.0 MB 4.3 MB/s eta 0:00:01
   ------------------------------- -------- 8.0/10.0 MB 4.5 MB/s eta 0:00:01
   --------------------------------- ------ 8.4/10.0 MB 4.6 MB/s eta 0:00:01
   ---------------------------------- ----- 8.6/10.0 MB 4.7 MB/s eta 0:00:01
   ----------------------------------- ---- 8.9/10.0 MB 4.7 MB/s eta 0:00:01
   ------------------------------------ --- 9.1/10.0 MB 4.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/10.0 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 9.5/10.0 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  9.8/10.0 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  10.0/10.0 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------- 10.0/10.0 MB 4.6 MB/s eta 0:00:00
Downloading trio-0.23.2-py3-none-any.whl (461 kB)
   ---------------------------------------- 0.0/461.6 kB ? eta -:--:--
   ------------ --------------------------- 143.4/461.6 kB ? eta -:--:--
   ---------------------------------------- 461.6/461.6 kB 5.8 MB/s eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading cffi-1.16.0-cp311-cp311-win_amd64.whl (181 kB)
   ---------------------------------------- 0.0/181.5 kB ? eta -:--:--
   ---------------------------------------- 181.5/181.5 kB 5.5 MB/s eta 0:00:00
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Installing collected packages: sortedcontainers, wsproto, pysocks, pycparser, attrs, outcome, cffi, trio, trio-websocket, selenium
Successfully installed attrs-23.1.0 cffi-1.16.0 outcome-1.3.0.post0 pycparser-2.21 pysocks-1.7.1 selenium-4.16.0 sortedcontainers-2.4.0 trio-0.23.2 trio-websocket-0.11.1 wsproto-1.2.0

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

browser = webdriver.Chrome()

In [2]:
%ls chromedriver.exe

 C ����̺��� ����: WINDOWS
 ���� �Ϸ� ��ȣ: 1CE2-C115

 c:\Newspeace-BE\newspeace\api ���͸�

2023-11-14  ���� 08:28        17,046,528 chromedriver.exe
               1�� ����          17,046,528 ����Ʈ
               0�� ���͸�  134,997,651,456 ����Ʈ ����

In [3]:
# 1. 페이지 이동
url = 'https://finance.naver.com/sise/sise_market_sum.naver?&page='
browser.get(url)

In [4]:
# 2. 조회 항목 초기화 (체크되어 있는 항목 체크 해제)
checkboxes = browser.find_elements(By.NAME, 'fieldIds')
for checkbox in checkboxes:
    if checkbox.is_selected(): # 체크된 상태라면?
        checkbox.click() # 클릭 (체크 해제)

In [5]:
items_to_select = ['거래량', '전일거래량', 'PER', 'PBR', '외국인비율']

In [6]:
for checkbox in checkboxes:
    parent = checkbox.find_element(By.XPATH, '..') # 부모 element
    label = parent.find_element(By.TAG_NAME, 'label') # label element
    # print(label.text) # 이름 확인
    if label.text in items_to_select: # 선택 항목과 일치한다면
        checkbox.click() # 체크

In [7]:
# 4. 적용하기 클릭
btn_apply = browser.find_element(By.XPATH, '//a[@href="javascript:fieldSubmit()"]')
btn_apply.click()

In [8]:
import pandas as pd

# 5. 데이터 추출
df = pd.read_html(browser.page_source)

C:\Users\user\AppData\Local\Temp\ipykernel_25580\2378255056.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)

In [9]:
df = pd.read_html(browser.page_source)[1]

C:\Users\user\AppData\Local\Temp\ipykernel_25580\2825798011.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

In [10]:
df.head(10)

,N,종목명,현재가,전일비,등락률,액면가,거래량,전일거래량,외국인비율,PER,PBR,토론실,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,77800.0,1200.0,+1.57%,100.0,18169410.0,13164909.0,53.91,16.54,1.49,NaN,NaN
2,2.0,SK하이닉스,139900.0,1000.0,-0.71%,5000.0,1965409.0,2239789.0,53.11,-8.87,1.74,NaN,NaN
3,3.0,LG에너지솔루션,419500.0,4000.0,+0.96%,500.0,105470.0,150973.0,4.63,64.52,4.79,NaN,NaN
4,4.0,삼성바이오로직스,728000.0,6000.0,+0.83%,2500.0,43798.0,53109.0,10.39,55.30,5.43,NaN,NaN
5,5.0,삼성전자우,61700.0,800.0,+1.31%,100.0,1282663.0,1672282.0,72.91,13.12,1.18,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6.0,현대차,198000.0,800.0,-0.40%,5000.0,262533.0,409928.0,33.41,4.76,0.56,NaN,NaN

In [11]:
df.dropna(axis='index', how='all', inplace=True)
df.dropna(axis='columns', how='all', inplace=True)

In [12]:
df.head(10)

,N,종목명,현재가,전일비,등락률,액면가,거래량,전일거래량,외국인비율,PER,PBR
1,1.0,삼성전자,77800.0,1200.0,+1.57%,100.0,18169410.0,13164909.0,53.91,16.54,1.49
2,2.0,SK하이닉스,139900.0,1000.0,-0.71%,5000.0,1965409.0,2239789.0,53.11,-8.87,1.74
3,3.0,LG에너지솔루션,419500.0,4000.0,+0.96%,500.0,105470.0,150973.0,4.63,64.52,4.79
4,4.0,삼성바이오로직스,728000.0,6000.0,+0.83%,2500.0,43798.0,53109.0,10.39,55.30,5.43
5,5.0,삼성전자우,61700.0,800.0,+1.31%,100.0,1282663.0,1672282.0,72.91,13.12,1.18
9,6.0,현대차,198000.0,800.0,-0.40%,5000.0,262533.0,409928.0,33.41,4.76,0.56
10,7.0,POSCO홀딩스,489000.0,15500.0,+3.27%,5000.0,1276608.0,744558.0,27.11,33.39,0.68
11,8.0,기아,96700.0,400.0,+0.42%,5000.0,835883.0,1043738.0,39.25,4.25,0.84
12,9.0,NAVER,222500.0,7000.0,+3.25%,100.0,498703.0,458545.0,48.17,43.08,1.47
13,10.0,LG화학,483500.0,7000.0,-1.43%,5000.0,165739.0,160900.0,42.84,29.05,1.16

In [17]:
df.tail(10)

,N,종목명,현재가,전일비,등락률,액면가,거래량,전일거래량,외국인비율,PER,PBR
65,41.0,기업은행,11690.0,40.0,-0.34%,5000.0,1358296.0,3009235.0,14.14,3.25,0.28
66,42.0,크래프톤,186700.0,5500.0,+3.04%,100.0,79149.0,330425.0,33.11,20.62,1.54
67,43.0,대한항공,23400.0,600.0,-2.50%,5000.0,473713.0,1184309.0,16.35,6.41,0.89
68,44.0,KT,33350.0,2100.0,-5.92%,5000.0,1058404.0,1878921.0,42.69,7.26,0.49
69,45.0,HD한국조선해양,115600.0,1800.0,+1.58%,5000.0,69437.0,138762.0,25.95,54.40,0.81
73,46.0,아모레퍼시픽,137900.0,200.0,+0.15%,500.0,25033.0,86258.0,27.43,59.13,1.94
74,47.0,SK바이오팜,98500.0,1000.0,+1.03%,500.0,165352.0,280718.0,7.87,-92.40,27.01
75,48.0,S-Oil,68400.0,2200.0,-3.12%,2500.0,215716.0,403881.0,76.91,7.84,0.89
76,49.0,한화오션,24650.0,50.0,+0.20%,5000.0,304858.0,793350.0,9.34,-7.67,2.37
77,50.0,현대글로비스,188000.0,800.0,-0.42%,500.0,47817.0,116746.0,48.21,6.01,0.93

In [ ]:
# 6. 파일 저장
import os


f_name = 'sise.csv'

if os.path.exists(f_name): # 파일이 있다면? 헤더 제외
    df.to_csv(f_name, encoding='utf-8-sig', index=False, mode='a', header=False)
else: # 파일이 없다면? 헤더 포함
    df.to_csv(f_name, encoding='utf-8-sig', index=False)

print(f'{idx} 페이지 완료')

In [13]:
import os

In [14]:
for idx in range(1, 40): # 1 이상 40 미만 페이지 반복
    # 사전 작업 : 페이지 이동
    browser.get(url + str(idx)) # http://naver.com....&page=2

    # 5. 데이터 추출
    df = pd.read_html(browser.page_source)[1]
    df.dropna(axis='index', how='all', inplace=True)
    df.dropna(axis='columns', how='all', inplace=True)
    if len(df) == 0: # 더 이상 가져올 데이터가 없으면?
        break

    # 6. 파일 저장
    f_name = 'sise.csv'
    if os.path.exists(f_name): # 파일이 있다면? 헤더 제외
        df.to_csv(f_name, encoding='utf-8-sig', index=False, mode='a', header=False)
    else: # 파일이 없다면? 헤더 포함
        df.to_csv(f_name, encoding='utf-8-sig', index=False)
    print(f'{idx} 페이지 완료')

browser.quit() # 브라우저 종료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

1 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

2 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

3 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

4 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

5 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

6 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

7 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

8 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

9 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

10 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

11 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

12 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

13 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

14 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

15 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

16 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

17 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

18 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

19 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

20 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

21 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

22 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

23 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

24 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

25 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

26 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

27 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

28 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

29 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

30 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

31 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

32 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

33 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

34 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

35 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

36 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

37 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

38 페이지 완료

C:\Users\user\AppData\Local\Temp\ipykernel_25580\3335955630.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(browser.page_source)[1]

39 페이지 완료

In [21]:
%pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     ---------------------------------------- 0.0/143.0 kB ? eta -:--:--
     -------- ------------------------------ 30.7/143.0 kB 1.4 MB/s eta 0:00:01
     ----------------------------------- -- 133.1/143.0 kB 2.6 MB/s eta 0:00:01
     -------------------------------------- 143.0/143.0 kB 1.7 MB/s eta 0:00:00
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.2 soupsieve-2.5
Note: you may need to restart the kernel to use updated packages.

In [15]:
from bs4 import BeautifulSoup
import requests

In [33]:
%pip install html5lib

Requirement already satisfied: html5lib in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [32]:
def load_allstock_KRX():
    # KRX site에서 제공하는 상장법인목록 load
    krx_url = 'https://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13'
    stk_data = pd.read_html(krx_url, header=0)[0]  # 해당 site에서 table 추출 및 header는 가장 첫번째 행
    stk_data = stk_data[['회사명', '종목코드']]     # 9개의 열 중 '회사명', '종목코드' 만 추출하여 dataframe 완성
    stk_data = stk_data.rename(columns={'회사명': 'Name', '종목코드': 'Code'})
                                                   # column 명을 한글에서 영어로 바꿈
    
    # 종목코드가 모두 6자리로 이루어져있지만 혹시 모르니, 6자리 미만 코드는 앞에 0을 채워넣어
    # 6자리 숫자텍스트로 변환
    stk_data['Code'] = stk_data['Code'].apply(lambda input: '0' * (6 - len(str(input))) + str(input))      
    
    # CSV 파일로 저장 (인코딩을 utf-8로 지정)
    stk_data.to_csv('all_stock_krx.csv', index=False, encoding='utf-8')
    
    return stk_data

In [37]:
df_stock = load_allstock_KRX()
print(df_stock)         # 위의 5행 print

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbb in position 144: invalid start byte

In [38]:
%pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.66-py3-none-any.whl.metadata (466 bytes)
Requirement already satisfied: pandas>=0.19.2 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from finance-datareader) (2.1.4)
Requirement already satisfied: requests>=2.3.0 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from finance-datareader) (2.31.0)
Collecting requests-file (from finance-datareader)
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: lxml in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from finance-datareader) (4.9.4)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from finance-datareader) (4.66.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from requests>=2.3.0->finance-datareader) (2023.11.17)
Requirement already satisfied: six in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from requests-file->finance-datareader) (1.16.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from tqdm->finance-datareader) (0.4.6)
Downloading finance_datareader-0.9.66-py3-none-any.whl (23 kB)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.66 requests-file-1.5.1
Note: you may need to restart the kernel to use updated packages.

In [40]:
%pip install plotly

Collecting plotly
  Downloading plotly-5.18.0-py3-none-any.whl.metadata (7.0 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Downloading tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: packaging in c:\users\user\anaconda3\envs\bigproject\lib\site-packages (from plotly) (23.2)
Downloading plotly-5.18.0-py3-none-any.whl (15.6 MB)
   ---------------------------------------- 0.0/15.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.6 MB 445.2 kB/s eta 0:00:36
   ---------------------------------------- 0.2/15.6 MB 1.5 MB/s eta 0:00:11
    --------------------------------------- 0.3/15.6 MB 1.8 MB/s eta 0:00:09
    --------------------------------------- 0.3/15.6 MB 1.5 MB/s eta 0:00:11
   - -------------------------------------- 0.4/15.6 MB 1.6 MB/s eta 0:00:10
   - -------------------------------------- 0.5/15.6 MB 1.6 MB/s eta 0:00:10
   - -------------------------------------- 0.6/15.6 MB 1.8 MB/s eta 0:00:09
   - -------------------------------------- 0.7/15.6 MB 1.8 MB/s eta 0:00:09
   -- ------------------------------------- 0.9/15.6 MB 2.0 MB/s eta 0:00:08
   -- ------------------------------------- 1.1/15.6 MB 2.2 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/15.6 MB 2.4 MB/s eta 0:00:07
   --- ------------------------------------ 1.5/15.6 MB 2.6 MB/s eta 0:00:06
   ---- ----------------------------------- 1.8/15.6 MB 2.9 MB/s eta 0:00:05
   ----- ---------------------------------- 2.2/15.6 MB 3.3 MB/s eta 0:00:05
   ------ --------------------------------- 2.5/15.6 MB 3.5 MB/s eta 0:00:04
   ------- -------------------------------- 2.9/15.6 MB 3.8 MB/s eta 0:00:04
   -------- ------------------------------- 3.3/15.6 MB 4.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.7/15.6 MB 4.3 MB/s eta 0:00:03
   ---------- ----------------------------- 4.0/15.6 MB 4.5 MB/s eta 0:00:03
   ---------- ----------------------------- 4.2/15.6 MB 4.5 MB/s eta 0:00:03
   ----------- ---------------------------- 4.5/15.6 MB 4.5 MB/s eta 0:00:03
   ------------ --------------------------- 4.7/15.6 MB 4.5 MB/s eta 0:00:03
   ------------ --------------------------- 5.0/15.6 MB 4.6 MB/s eta 0:00:03
   ------------- -------------------------- 5.2/15.6 MB 4.6 MB/s eta 0:00:03
   ------------- -------------------------- 5.2/15.6 MB 4.5 MB/s eta 0:00:03
   ------------- -------------------------- 5.3/15.6 MB 4.4 MB/s eta 0:00:03
   -------------- ------------------------- 5.6/15.6 MB 4.4 MB/s eta 0:00:03
   -------------- ------------------------- 5.8/15.6 MB 4.4 MB/s eta 0:00:03
   --------------- ------------------------ 6.1/15.6 MB 4.4 MB/s eta 0:00:03
   ---------------- ----------------------- 6.5/15.6 MB 4.6 MB/s eta 0:00:02
   ----------------- ---------------------- 6.8/15.6 MB 4.6 MB/s eta 0:00:02
   ----------------- ---------------------- 7.0/15.6 MB 4.6 MB/s eta 0:00:02
   ------------------ --------------------- 7.2/15.6 MB 4.6 MB/s eta 0:00:02
   ------------------- -------------------- 7.5/15.6 MB 4.7 MB/s eta 0:00:02
   -------------------- ------------------- 7.8/15.6 MB 4.7 MB/s eta 0:00:02
   -------------------- ------------------- 8.0/15.6 MB 4.7 MB/s eta 0:00:02
   --------------------- ------------------ 8.3/15.6 MB 4.8 MB/s eta 0:00:02
   --------------------- ------------------ 8.5/15.6 MB 4.8 MB/s eta 0:00:02
   ---------------------- ----------------- 8.8/15.6 MB 4.8 MB/s eta 0:00:02
   ---------------------- ----------------- 8.9/15.6 MB 4.8 MB/s eta 0:00:02
   ----------------------- ---------------- 9.2/15.6 MB 4.8 MB/s eta 0:00:02
   ------------------------ --------------- 9.5/15.6 MB 4.8 MB/s eta 0:00:02
   ------------------------ --------------- 9.7/15.6 MB 4.8 MB/s eta 0:00:02
   ------------------------- -------------- 9.9/15.6 MB 4.8 MB/s eta 0:00:02
   ------------------------- -------------- 9.9/15.6 MB 4.8 MB/s eta 0:00:02
   -------------------------- ------------- 10.4/15.6 MB 5.0 MB/s eta 0:00:02
   --------------------------- ------------ 10.6/15.6 MB 5.3 MB/s eta 0:00:01
   --------------------------- ------------ 10.9/15.6 MB 5.4 MB/s eta 0:00:01
   ---------------------------- ----------- 11.1/15.6 MB 5.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.6 MB 5.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.6/15.6 MB 5.6 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.6 MB 5.5 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.6 MB 5.6 MB/s eta 0:00:01
   ------------------------------- -------- 12.3/15.6 MB 5.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.5/15.6 MB 5.4 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.6 MB 5.4 MB/s eta 0:00:01
   --------------------------------- ------ 13.0/15.6 MB 5.4 MB/s eta 0:00:01
   --------------------------------- ------ 13.2/15.6 MB 5.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.5/15.6 MB 5.2 MB/s eta 0:00:01
   ---------------------------------- ----- 13.7/15.6 MB 5.2 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.6 MB 5.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.6 MB 5.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.4/15.6 MB 5.1 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.6 MB 5.1 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/15.6 MB 5.1 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.6 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.6 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.6 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 15.6/15.6 MB 5.2 MB/s eta 0:00:00
Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.18.0 tenacity-8.2.3
Note: you may need to restart the kernel to use updated packages.

In [16]:
import FinanceDataReader as fdr

In [17]:
def load_allstock_KRX_fdr():
    df_krx = fdr.StockListing("KRX")
    df_krx = df_krx[['Code', 'Name', 'MarketId']]
    return df_krx

In [18]:
df_krx = fdr.StockListing("KRX")
print(df_krx.columns)       # column information 조회

Index(['Code', 'ISU_CD', 'Name', 'Market', 'Dept', 'Close', 'ChangeCode',
       'Changes', 'ChagesRatio', 'Open', 'High', 'Low', 'Volume', 'Amount',
       'Marcap', 'Stocks', 'MarketId'],
      dtype='object')

In [19]:
df_krx = df_krx[['Code', 'Name']]

In [36]:
df_krx

        Code      Name
0     005930      삼성전자
1     000660    SK하이닉스
2     373220  LG에너지솔루션
3     207940  삼성바이오로직스
4     005935     삼성전자우
...      ...       ...
2782  217320       썬테크
2783  308700       테크엔
2784  245450    씨앤에스링크
2785  322190        베른
2786  141020     디에스앤엘

[2787 rows x 2 columns]

In [37]:
df_krx.to_csv('df_krx.csv', index=False, encoding='utf-8')

In [38]:
df_krx = pd.read_csv('df_krx.csv')

print(df_krx)

        Code      Name
0     005930      삼성전자
1     000660    SK하이닉스
2     373220  LG에너지솔루션
3     207940  삼성바이오로직스
4     005935     삼성전자우
...      ...       ...
2782  217320       썬테크
2783  308700       테크엔
2784  245450    씨앤에스링크
2785  322190        베른
2786  141020     디에스앤엘

[2787 rows x 2 columns]

In [27]:
code='005930'
url=f'https://finance.naver.com/item/sise_day.naver?code={code}'
req=requests.get(url, headers={'User-agent':'Mozilla/5.0'})
html=BeautifulSoup(req.text,"lxml")

In [28]:
df=None
headers={'User-agent':'Mozilla/5.0'}

for page in range(1, 11):
    req=requests.get(f'{url}&page={page}',headers=headers)
    df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_25580\4259646263.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.concat([df, pd.read_html(req.text, encoding='euc-kr')[0]], ignore_index=True)

In [29]:
df

,0,1,2
0,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
1,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
2,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
3,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
4,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
5,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
6,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
7,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
8,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
9,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
10,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
11,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
12,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
13,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
14,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
15,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
16,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
17,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
18,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
19,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"

In [30]:
df.dropna(inplace=True)

df.reset_index(drop=True, inplace=True)

In [31]:
df

,0,1,2
0,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
1,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
2,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
3,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
4,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
5,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
6,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
7,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
8,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
9,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
10,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
11,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
12,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
13,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
14,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
15,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
16,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
17,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"
18,"전일 76,600 76,600","고가 77,90077,900 (상한가 99,50099,500 )","거래량 19,270,703 19,270,704"
19,"시가 76,70076,700","저가 76,50076,500 (하한가 53,700 )","거래대금 1,492,502 1,492,502 백만"

In [33]:
%pip install pykrx --q

Note: you may need to restart the kernel to use updated packages.

In [35]:
# !pip install pykrx --q

from pykrx import stock

data = stock.get_market_ohlcv_by_date('20200101', '20231201', df_krx.iloc[0].Code)
display(data)

               시가     고가     저가     종가       거래량       등락률
날짜
2020-01-02  55500  56000  55000  55200  12993228 -1.075269
2020-01-03  56000  56600  54900  55500  15422255  0.543478
2020-01-06  54900  55600  54600  55500  10278951  0.000000
2020-01-07  55700  56400  55600  55800  10009778  0.540541
2020-01-08  56200  57400  55900  56800  23501171  1.792115
...           ...    ...    ...    ...       ...       ...
2023-11-27  71500  72100  71100  71300   9113857 -0.557880
2023-11-28  71400  72700  71300  72700  13283081  1.963534
2023-11-29  72400  72800  72200  72700   9283933  0.000000
2023-11-30  72700  72800  72200  72800  15783714  0.137552
2023-12-01  72400  72500  71700  72000   9871284 -1.098901

[969 rows x 6 columns]