In [6]:
import pandas as pd

df = pd.DataFrame()
a = [1, 1, 1, 1, -1, -1, 0]
b = ['a']*len(a)
c= [8,5,5,6,6,7,7]

df['sentiment'] = a
df['title'] = b
df['date'] = c

In [8]:
df

   sentiment title  date
0          1     a     8
1          1     a     5
2          1     a     5
3          1     a     6
4         -1     a     6
5         -1     a     7
6          0     a     7

In [19]:
date_list = list(df.sort_values('date').date.unique())
date_list

[5, 6, 7, 8]

In [20]:
date_list = list(df.sort_values('date').date.unique())

sentiment_list= [1, -1, 0]
total = []

pos = []
neg = []
line = []

for idx, date in enumerate(date_list):
    
    a = df.loc[df['date'] == date]
    cnt = len(a.sentiment) * (idx+1)
    total.append(cnt)
    
    for i in sentiment_list:
        senti = len(a.loc[a['sentiment'] == i].sentiment)
        senti = senti*(idx+1)
        
        if i == 1:
            pos.append(senti)
        elif i== -1:
            neg.append(senti)
        else:
            line.append(senti)
        
total_sum = sum(total)
print(sum(pos), sum(neg), sum(line))

In [22]:
sum(total)

16

In [24]:
print(sum(pos), sum(neg), sum(line))

8 5 3